@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Varta:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap");

#root {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: #eaf3e6 !important; /* Gris verdoso muy suave */
  border-bottom: 2px solid #7ea384;
  box-shadow: 0 2px 8px rgba(126, 163, 132, 0.05);
}

.navbar-brand,
.nav-link {
  flex: 1 1 0;
  font-family: "Varta", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
  text-align: center;
  transition: background 0.2s, color 0.2s;
  color: #3d3d3d;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #007434;
  transition: color 0.2s;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  background: #d7df72;
  color: #7ea384;
}

.intro-titulo {
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7ea384;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  font-size: 50px;
  text-shadow: 1px 1px 4px #e6e6e6;
}

@media (max-width: 600px) {
  .intro-titulo {
    font-size: 2rem;
    padding: 10px 0 5px 0;
  }
}

.intro-texto {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #3d3d3d;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Hasta acá es INICIO */

.badge.bg-primary {
  width: 100%;
  height: auto;
  background-color: #8bb171 !important;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.btn.btn-danger,
.btn.btn-success,
.btn.btn-info,
.btn.btn-secondary,
.btn.btn-primary {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-size: 13px;
  margin-top: 20px;
}

/* Hasta acá es ALUMNOS */

.card {
  padding: 2em;
  margin: 10px;
  flex: 1;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #739277;
}

.mb-3-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

.form-label,
.card-title.h5 {
  font-family: "Chocolate Classical Sans", sans-serif;
  color: #3d3d3d;
  font-weight: 600;
}

/* Hasta acá es EDITAR */

/* Empieza acá CARRUSEL */

.carousel-full {
  width: 100vw;
  min-height: 350px;
  height: 60vh;
  margin-left: calc(-50vw + 50%);
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.carousel-full img {
  width: 100vw;
  height: 60vh;
  min-height: 350px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}
.carousel-caption {
  background: linear-gradient(
    180deg,
    rgba(126, 163, 132, 0.7) 0%,
    rgba(126, 163, 132, 0.3) 100%
  );
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.read-the-docs {
  color: #888;
}

.descripcion-carrusel {
  background-color: #ada5a5;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.descripcion-carrusel h3 {
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 1px 1px 6px #7ea384;
  margin-bottom: 10px;
}
.descripcion-carrusel p {
  color: #f8f8f8;
  font-size: 1.1rem;
  text-shadow: 1px 1px 4px #7ea384;
  margin: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 30px;
  height: 30px;
  background-color: #afa9a9;
  border-radius: 50%;
}
.carousel-control-prev {
  left: 100px;
}
.carousel-control-next {
  right: 100px;
}

@media (max-width: 600px) {
  .carousel-full,
  .carousel-full img {
    height: 30vh;
    min-height: 120px;
  }
  .descripcion-carrusel h3 {
    font-size: 1.2rem;
  }
  .descripcion-carrusel p {
    font-size: 0.9rem;
  }
}
